/* Outfit (SIL Open Font License 1.1, see OFL.txt), bundled so the app looks right offline */
@font-face {
  font-family: 'Outfit';
  font-style: normal;
  font-display: swap;
  font-weight: 100 900;
  src: url(outfit-latin-wght-normal.woff2) format('woff2');
}
